/* Landing Styles */
.landing-container {
    text-align: center;
    padding: 20px;
}

.users-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

/* User Styles */
.user-box {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.user-box:hover {
    transform: scale(1.05);
}
