/* styles/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

.nav-logo img {
    width: 50px; 
}

.back-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    color: #f5edee;
}

.back-button:focus {
    outline: none;
}

